<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>@import url('/public/base.css');</style>
    <style>@import url('/public/style.css');</style>

    <title>Veronica</title>
</head>
<body class="">
    <div class="brush-background-two"></div>
    <div class="center-page">

        <section class="grid-container">

            <div class="header flex center"><div class="">Veronica</div></div>

            <div class="sidebar wrap flex flex-column center pad">

                <div class="fancy-font">About</div>
                <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ex, velit repellendus perspiciatis, et reprehenderit cum officia similique vel ipsa fugit corrupti nobis maiores tempora autem eum consequatur voluptas ad!</p>
                
                <div class="flex social-icon-container">
                    <div class="flex center">
                        <img class="social-icon pad" src="/public/assets/insta-icon.png" alt="">
                        <span class="">10k Followers</span>
                    </div>
                    <div class="flex center">
                        <a href="https://www.google.com"><img class="social-icon pad" src="/public/assets/insta-icon.png" alt=""></a>
                        <span class="">10k Followers</span>
                    </div>
                    
                </div>
                
            </div>
            <div class="content flex flex-column center">
                <div class="fancy-font">
                    My Work
                </div>
                <div class="slideshow-container">
                    <img class="image" src="/public/assets/image-1.jpg" alt="">
                    <img class="image" src="/public/assets/image-2.jpg" alt="">
                    <img class="image" src="/public/assets/image-3.jpg" alt="">
                    <img class="image" src="/public/assets/image-4.jpg" alt="">
                </div>
            </div>
        
        </section>
    </div>
    <script src="/public/js/hueChange.js"></script>
    <script src="/public/js/slideshow.js"></script>

</body>
</html>